@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    var organisations = ViewData["Organisations"] as IList<Organisation>;
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <h4>Create a new account.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Role" class="col-md-2 control-label">Role</label>
        <div class="col-md-10">
            <select asp-for="Role" class="form-control">
                <option value="@AppConfig.RoleADMIN">Admin</option>
                <option value="@AppConfig.RoleNGO">NGO</option>
            </select>
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Role" class="col-md-2 control-label">Organisation (NGO role only)</label>
        <div class="col-md-10">
            <select asp-for="OrganisationId" class="form-control">
                @foreach (var organisation in organisations)
                {
                    <option value="@organisation.Id">@organisation.Name</option>
                }
            </select>
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Register</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
