@model DonationRequest

<div class="row">
    <div class="col-sm-3 back-button-container">
        <a asp-action="Detail" asp-controller="DonationRequest" asp-route-requestId="@Model.Id" class="back-button">
            <span class="fa fa-arrow-circle-o-left"></span> Back
        </a>
    </div>
    <div class="col-sm-9">
        <h2>Edit Donation Request</h2>
    </div>
</div>

<br/>
<form asp-action="Save" asp-controller="DonationRequest" asp-route-requestId="@Model.Id" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="CreatedOn"/>
    <input type="hidden" asp-for="EndDate" />
    <input type="hidden" asp-for="MissionId"/>
    <input type="hidden" asp-for="ClosedOn" />
    <input type="hidden" asp-for="ImageUrl" />
    
    <div class="row">
        <div class="col-sm-3">
            <label asp-for="Title">Title of your request</label>
        </div>
        <div class="col-sm-9">
            <input asp-for="Title" class="form-control" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <label asp-for="ShortSummary">Very short summary</label>
        </div>
        <div class="col-sm-9">
            <textarea rows="3" maxlength="100" asp-for="ShortSummary" class="form-control" placeholder="This is what the user sees on the start-page or scrolling through the list."></textarea>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <label asp-for="Description">Detailed description</label>
        </div>
        <div class="col-sm-9">
            <textarea rows="7" maxlength="5000" asp-for="Description" class="form-control" placeholder="A detailed description about your organisation."></textarea>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <label asp-for="NeededAmountUSD">Needed Amount USD</label>
        </div>
        <div class="col-sm-9">
            <input type="number" min="0.00" step="0.05" asp-for="NeededAmountUSD" class="form-control" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <label asp-for="ApproxPopulationImpacted">Impacted Population</label>
        </div>
        <div class="col-sm-9">
            <input type="number" asp-for="ApproxPopulationImpacted" min="0" step="1" class="form-control" />
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-3">
            <label>Request Image</label>
        </div>
        <div class="col-sm-9">
            <input type="file" class="form-control" name="files"/>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3">
            <label asp-for="Priority">Priority</label>
        </div>
        <div class="col-sm-9">
            <select class="form-control" asp-for="Priority">
                <option value="@Priority.L1Max">
                    @Priority.L1Max.GetEnumDescription()
                </option>
                <option value="@Priority.L2">
                    @Priority.L2.GetEnumDescription()
                </option>
                <option value="@Priority.L3">
                    @Priority.L3.GetEnumDescription()
                </option>
                <option value="@Priority.L4">
                    @Priority.L4.GetEnumDescription()
                </option>
                <option value="@Priority.L5">
                    @Priority.L5.GetEnumDescription()
                </option>
                <option value="@Priority.L6Min">
                    @Priority.L6Min.GetEnumDescription()
                </option>
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
            <input class="btn btn-success" type="submit" value="Save Request" />
        </div>
    </div>
</form>