@model DonationRequest
<div class="col-md-4">
    <a asp-area="" asp-controller="DonationRequest" asp-action="Overview" asp-route-id="@Model.Id">
        <div class="thumbnail" style="height:450px;margin-bottom:15px">
            <div style="max-height:200px;overflow:hidden;position:relative;margin:-5px;border-radius:5px">
                <img src="~/images/requestimages/@Model.ImageUrl" style="width:100%;border-radius:5px;margin:1px" alt="">
                <div class="image-overlay-bar"></div>
                <div class="image-overlay font-accent">
                    <b>@Model.Mission.Name - @Model.Mission.Organisation.Name</b>
                </div>
            </div>
            <div class="caption">
                <h3 style="font-size:26px">@Model.Title</h3>
                <p class="text-italic">«@Model.ShortSummary»</p>
                <div style="position:absolute;bottom:5px;left:30px;right:30px">
                    <div style="display:inline-block;width:100%">
                        @if (!Model.IsFinished)
                        {
                            <h4 class="center-block text-center">@PaymentConfig.CurrencyShort@Model.RemainingUSDNeeded still needed</h4>
                        }
                        else
                        {
                            <h4 class="center-block text-center">Successfully financed - $@Model.NeededAmountUSD</h4>
                        }
                    </div>
                    @await Component.InvokeAsync("ProgressBar", new { maxValue = Model.NeededAmountUSD, currentValue = Model.Donated })
                </div>
            </div>
        </div>
    </a>
</div>