@model DonationRequest
<div class="col-md-4">
    <a asp-area="" asp-controller="DonationRequest" asp-action="Overview" asp-route-id="@Model.Id">
        <div class="thumbnail" style="min-height:450px;margin-bottom:15px">
            <div class="row">
                <div class="col-sm-12">
                    <div style="max-height:200px;overflow:hidden;position:relative;margin:-5px;border-radius:5px">
                        @if (Model.HasImage)
                        {
                            <img src="@Model.FullImageUrl" style="width:100%;border-radius:5px;margin:1px" alt="">
                        }
                        <div class="image-overlay-bar"></div>
                        <div class="image-overlay font-accent">
                            <b>@Model.Mission.Name - @Model.Mission.Organisation.Name</b>
                        </div>
                    </div>
                </div>
            </div>

            <div class="caption">
                <div class="row" style="min-height:180px">
                    <div class="col-sm-12">
                        <h3 style="font-size:26px"
                            data-toggle="tooltip"
                            title="Priority Index: @Model.ProjectIntensity<br/>@Model.PriorityString<br/>Approx. impacted population: @Model.ApproxPopulationImpacted<br/>Days until end: @Model.DaysUntilEnd">
                            @Model.Title
                        </h3>
                    </div>
                    <div class="col-sm-12" >
                        <p class="text-italic">«@Model.ShortSummary»</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div style="bottom:5px;left:30px;right:30px">
                            <div style="width:100%">
                                @if (!Model.IsFinished)
                                {
                                    <h4 class="center-block text-center">@PaymentConfig.CurrencyShort@Model.RemainingUSDNeededString still needed</h4>
                                }
                                else
                                {
                                    <h4 class="center-block text-center">Successfully financed - $@Model.NeededAmountUSDString</h4>
                                }
                            </div>
                            @await Component.InvokeAsync("ProgressBar", new { maxValue = Model.NeededAmountUSD, currentValue = Model.Donated })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>