@model Organisation
<br />

<div class="row">
    <div class="col-sm-2 back-button-container">
        <a asp-action="List" asp-controller="Organisation" class="back-button">
            <span class="fa fa-arrow-circle-o-left"></span> Back
        </a>
    </div>
    <div class="col-sm-9">
        <h1>@Model.Name</h1>
    </div>
</div>
<div class="seperator"></div>
<br />

<a class="btn btn-info pull-right" asp-action="Edit" asp-route-organisationId="@Model.Id">Edit organisation</a>
<br />
<br/>
<div class="thumbnail">
    <div class="row">
        <div class="col-sm-12">
            <h2>Organisation Summary</h2>
        </div>
        <br />
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <b>@Model.Description</b>
                </div>
            </div>
        </div>
        <br />
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <label>Number of missions</label>
                </div>
                <div class="col-sm-6">
                    <b>@Model.Locations.Count</b>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <label>Contact</label>
                </div>
                <div class="col-sm-6">
                    <b>@Model.Mail</b>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<h2>Missions of @Model.Name</h2>
<a class="btn btn-info pull-right" asp-controller="Mission" asp-action="Create" asp-route-organisationId="@Model.Id">New mission</a>
<br />
<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Is Active
            </th>
            <th>
                Created At
            </th>
        </tr>
    </thead>
    @foreach (var mission in Model.Locations)
    {
        <tr>
            <td>
                <a asp-action="Detail" asp-controller="Mission" asp-route-missionId="@mission.Id">
                    @mission.Name
                </a>
            </td>
            <td>
                <a asp-action="Detail" asp-controller="Mission" asp-route-missionId="@mission.Id">
                    @mission.IsActive
                </a>
            </td>
            <td>
                <a asp-action="Detail" asp-controller="Mission" asp-route-missionId="@mission.Id">
                    @mission.CreatedAt
                </a>
            </td>
        </tr>
    }
</table>
