@model IEnumerable<Organisation>
<br/>
<h1>Organisations</h1>
<a class="btn btn-info pull-right" asp-action="Edit" asp-route-organisationId="0">New organisation</a>
<br/>
<br/>
<table class="table table-responsive table-hover">

    
        @foreach (var organisation in Model)
        {
            <tr>
                <td>
                    <a asp-action="Detail" asp-controller="Organisation" asp-route-organisationId="@organisation.Id">
                        @organisation.Name
                    </a>
                </td>
                <td>
                    <a asp-action="Detail" asp-controller="Organisation" asp-route-organisationId="@organisation.Id">
                        @organisation.Mail
                    </a>
                </td>
                <td>
                    <a asp-action="Detail" asp-controller="Organisation" asp-route-organisationId="@organisation.Id">
                        @organisation.IsActive
                    </a>
                </td>
            </tr>
        }
    

    </table>