@model Mission

<div class="row">
    <div class="col-sm-2 back-button-container">
        <a asp-action="Detail" asp-controller="Organisation" asp-route-organisationId="@Model.OrganisationId" class="back-button">
            <span class="fa fa-arrow-circle-o-left"></span> Back
        </a>
    </div>
    <div class="col-sm-9">
        <h1>Mission '@Model.Name'</h1>
    </div>
</div>
<div class="seperator"></div>
<br />

<div class="col-sm-12">
    <a class="btn btn-info pull-right" asp-action="Edit" asp-route-missionId="@Model.Id">Edit mission</a>
</div>
<p>
    @Model.Comment
</p>
<br/>
<h2>Donation Requests</h2>
<br/>
<div class="row">
    <div class="col-sm-12">
        <a class="btn btn-info pull-right" asp-action="Create" asp-controller="DonationRequest" asp-route-missionId="@Model.Id">Add new request</a>
    </div>
</div>
<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Is Request Finished
            </th>
        </tr>
    </thead>
    @foreach (var donationRequest in Model.Requests)
    {
        <tr>
            <td>
                <a asp-action="Detail" asp-controller="DonationRequest" asp-route-requestId="@donationRequest.Id">
                    @donationRequest.Title
                </a>
            </td>
            <td>
                <a asp-action="Detail" asp-controller="DonationRequest" asp-route-requestId="@donationRequest.Id">
                    @donationRequest.IsFinished
                </a>
            </td>
        </tr>
    }
</table>